<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Edit Contact</title>
</head>
<body>
    <div class="card m-5">
        <h5 class="card-header">Edit Contact</h5>
        <div class="card-body">
            <form method="post" th:action="@{/contacts/{id}/edit(id=${contact.id})}" th:object="${contact}">
                <input type="hidden" name="id" th:value="${contact.id}"/>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" th:value="${contact.name}"/>
                    <small id="nameHelp" class="form-text text-muted">Required field *</small>
                </div>
                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input type="text" class="form-control" id="number" name="phoneNumber" th:value="${contact.phoneNumber}"/>
                    <small id="numberHelp" class="form-text text-muted">Required field *</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>